Question-1:

1.  (*)      = Expresssion (Multiplication)
2.   'Hello' = Value (String)
3.   -87.8   = Value (Float)
4.  (-)      = Expression (Subtraction)
5.  (/)      = Expression (Divide)
5.  (+)      = Expression (Addition)
7.    6      = Value (Int)

Question-2:

1. String:-
String is a datatype which represents sequence of characters.
2. Variable:
A variable is a named storage location that holds a value of a particular data type.

Question-3:

1. Float:-
Float stands for floating point numbers. These are the datatypes used to representing decimal numbers.
2. Boolean:-
Boolean is a data type that represents one of two possible values: true or false. Booleans are used to express logical conditions and control the flow of a program.They are particularly useful in conditional statements and loops.
3. Integer:-
Integer is a data type used to represent whole numbers, both positive and negative, without any fractional or decimal part.Integers can be used to perform arithmetic operations and store numerical values.

Question-4:

 An expression is a combination of one or more values, variables, operators, and function calls that evaluates to a single value. Expressions can perform various operations such as arithmetic calculations, logical evaluations, string concatenation, and more.

Question-5:

1. Expressions:
An expression is a combination of values, variables, operators, and function calls that evaluates to a single value.
2. Statement:
A statement is a complete unit of code that performs a specific action.

Question-6:

Since the code doesn't assign the result of bacon + 1 to any variable, the value of bacon remains unchanged at 22.

Question-7:

The value of both terms are-
'SpamSpamSpam'

Question-8:

eggs is a valid variable name because it starts with a letter ('e') and only contains letters. It follows the rules for variable names.

100 is an invalid variable name because it starts with a number. Variable names must begin with a letter or an underscore, not a number.

Question-9:

1. int()
2. float()
3. Str()

Question-10:

Strings and int cannot be concatinated. I can fix this error by type conversion of int datatype(99) into string datatype.

In [5]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'